:root * {
  /* Pause the animation */
  animation-play-state: paused;
  /* Bind the animation to scroll */
  animation-delay: calc(var(--scroll) * -1s);
  /* These last 2 properites clean up overshoot weirdness */
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

body {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  background-color: white;
  animation: body 1s linear;
}

@keyframes body {
  to {
    background-color: #dfe5ec;
  }
}

.bannerTitle1 {
  justify-content: center;
  text-align: center;
  font-size: 5rem;
  color: white;
}

.bannerTitle2 {
  justify-content: center;
  text-align: center;
  font-size: 3rem;
  color: white;
}

.bannerTitle3 {
  justify-content: center;
  text-align: center;
  font-size: 3rem;
  color: white;
}

.Ad {
  width: 100%;
  height: 60vh;
}

.Main-title {
  justify-content: center;
  text-align: center;
  font-size: 2rem;
  color: white;
}

.search {
  justify-content: center;
  text-align: center;
  align-items: center;
  display: flex;
  height: 92px;
}

@keyframes cursor {
    50% {
      opacity: 0;
    }
  }
.searchWord span{
    caret-shape: bar;
    color: black;
    animation: cursor 1s step-end infinite;
    margin-right: 0.2rem;
}

.searchWord {
  width: 50vw;
  height: 44px;
  justify-content: center;
  align-items: center;
  text-align: left;
  border: 3px solid black;
  background-color: white;
  color: rgba(0,0,0,0.3);
  border-radius: 10px;
  padding: 1rem;
  font-size: 2rem;
}

/* .enter {
    margin-left: 1px;
  width: 70px;
  height: 70px;
  border: 3px solid black;
  border-radius: 50%;
}

.ReadingGlass {
    margin: auto;
    display: block;
    width: 50px;
    height: 50px;
} */

.Recommend-Contents {
  flex-direction: column;
  box-sizing: border-box;
  position: relative;
  max-width: 1312px;
  width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 100px;
  padding-right: 100px;
  align-items: stretch;
}

.Recommend-Title {
  display: flex;
  font-size: 1.4rem;
  font-weight: 800;
  color: white;
}

.Recommend-Section {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  position: relative;
  width: 90vw;
  align-items: stretch;
}

.list-Style {
  width: 80vw;
  list-style: none;
  display: flex;
  overflow: auto;
}

.ClickContents1 {
  margin-right: 1rem;
  cursor: pointer;
  color: white;
}

.ClickContents1 img {
  width: 300px;
  height: 200px;
}

.ClickContents1 p {
  font-size: 0.7rem;
  color: white;
}

.ClickContents2 {
  margin-right: 1rem;
  cursor: pointer;
  color: white;
}

.ClickContents2 p {
  font-size: 0.7rem;
  color: white;
}

.ClickContents2 img {
  width: 300px;
  height: 200px;
}

.ClickContents3 {
  margin-right: 1rem;
  cursor: pointer;
  color: white;
}

.ClickContents3 p {
  font-size: 0.7rem;
  color: white;
}

.ClickContents3 img {
  width: 300px;
}
.ClickContents4 {
  cursor: pointer;
  color: white;
}

.ClickContents4 img {
  width: 300px;
}
.ClickContents4 p {
  font-size: 0.7rem;
  color: white;
}

.Popular-Contents {
  justify-content: center;
  text-align: center;
}

.popularTitle {
  justify-content: center;
  text-align: center;
  display: flex;
  font-size: 2.6rem;
  font-weight: 800;
  color: #262627;
}

.SectionBox {
  position: relative;
  margin: auto;
  width: 60%;
  justify-content: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-row-gap: 280px;
  grid-column-gap: 0px;
}

.SectionContents1 {
  margin: auto;
  cursor: pointer;
  height: 10vh;
}

.SectionContents1 img {
  width: 300px;
}

.SectionContents2 {
  margin: auto;
  cursor: pointer;
  height: 10vh;
}

.SectionContents2 img {
  width: 300px;
}

.SectionContents3 {
  margin: auto;
  cursor: pointer;
  height: 10vh;
}

.SectionContents3 img {
  width: 300px;
}

.SectionContents4 {
  margin: auto;
  cursor: pointer;
  height: 10vh;
}

.SectionContents4 img {
  width: 300px;
}

.FAQ {
  justify-content: center;
  text-align: center;
  align-items: center;
}

.FAQ h2 {
  font-size: 2.4rem;
}

.FAQ-question {
  justify-content: center;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  /* box-sizing: border-box; */
  position: relative;
  width: 80vw;
  margin: 0 auto;
}

.FAQ-question1 {
  display: flex;
  /* flex-direction: row; */
  justify-content: space-around;
  align-items: center;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 1rem;
}
.span {
  width: 500px;
}
.Down {
  width: 30px;
  height: 30px;
}

.FAQ-question2 {
  display: flex;
  /* flex-direction: row; */
  justify-content: space-around;
  align-items: center;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 1rem;
}

.FAQ-question3 {
  display: flex;
  /* flex-direction: row; */
  justify-content: space-around;
  align-items: center;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 1rem;
}
