.menu{
    width: 100%;
    height: 40vh;
    background-color: rgb(57,55,50);
}

.up_menu{
    width: 100%;
    height: 60%;
    background-color: rgb(57,55,50);
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
}
.sev{
    position: relative;
    left: 23vw;
    top: 1.5rem;
    width: 15%;
    color: white;
    font-size: 1.5vh;
}
.down_menu{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 75%;
    height: 40%;
    background-color: rgb(57,55,50);
    border-top: 1px solid white;
    overflow: hidden;
}
.explain{
    font-size: 0.8rem;
    color: white;
    position: relative;
    text-align: left;
    left: 3%;
    top: 5%;
}

.logo-menu{
    width: 11vw;
    height: 16vh;
    position: relative;
    top: 15%;
    left: 15%;
    display: flex;
}
